@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&family=Karla:wght@200;400;600&display=swap');
$global-font-family: Karla, system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif;
$single-link-color: #0085FF;
$pagination-link-color: #0085FF;